<div class="bg-white">
  <div class="mx-auto pb-16 px-0 sm:pb-12">
    <div class="bg-headerImage h-[70vh] mb-20">
      <div class="text-center h-[70vh] flex flex-col bg-black bg-opacity-60 justify-center items-center">
        <div class="bg-[#DF3367] text-4xl border text-white rounded-[20px] py-3 px-10 w-fit mx-auto">iWEDDING</div>
        <p class="font-sigma font-normal text-[40px] text-white mb-4 uppercase">NỀN TẢNG TẠO WEBSITE ĐÁM CƯỚI MIỄN
          PHÍ</p>
        <p class="font-normal text-white text-2xl mb-5">Cho đám cưới trở nên độc đáo hơn theo cách riêng của bạn!</p>
        <div class="flex flex-row justify-center items-center gap gap-4">
          <button class="text-center py-2 px-8 border rounded-[22px] bg-[#DF3367]">
            <a routerLink="/wedding/template" class="text-white">Bắt đầu miễn phí</a>
          </button>
          <button class="text-center py-2 px-8 border rounded-[22px] bg-transparent">
            <p class=" text-white">Website đã tạo</p>
          </button>
        </div>
      </div>
    </div>
    <img class="relative -top-56 w-full" alt="hero" src="assets/images/hero-shape.svg" priority/>
    <div class="relative -top-44">
      <div>
        <h4 class="font-sigma text-rose-300 text-lg text-center">ĐẦY ĐỦ NHỮNG TÍNH NĂNG HỮU ÍCH</h4>
        <h2 class="font-sigma text-3xl text-rose-500 text-center mt-2">CHO MỘT ĐÁM CƯỚI NHƯ MƠ</h2>
        <h6 class="text-base text-black text-center mt-3">Với những công cụ cần thiết, giúp bạn quản lý mọi kế hoạch cho
          ngày trọng đại một cách thông minh hơn.
        </h6>
      </div>
      <div class="bg-white px-5">
        <div class="mx-auto pb-16 pt-10 sm:px-0 sm:pb-24 sm:pt-10 lg:max-w-7xl">
          <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 xl:gap-x-4">
            <div
              class="group bg-[#F9A5B9] rounded-3xl px-2 pb-5 hover:relative hover:cursor-pointer hover:-translate-y-5 transition ease-in-out duration-500 ">
              <div class="text-white px-2 text-center pt-4 text-2xl font-extrabold">QUẢN LÝ <br/> KẾ HOẠCH CƯỚI</div>
              <p class="text-white text-center px-5 mb-3">Tạo và theo dõi công việc cho ngày trọng đại của bạn, đảm bảo
                mọi thứ theo kế hoạch, cho đám cưới của bạn được vẹn toàn</p>
              <div
                class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-[32px] bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                <img class="lazyload w-100 h-auto" src="https://biihappy.com/static/theme/img/iwedding/pic_about01.jpg"
                     data-src="https://biihappy.com/static/theme/img/iwedding/pic_about01.jpg"
                     alt="Quản lý Kế hoạch cưới" priority>
              </div>
              <!-- <h3 class="mt-4 text-sm text-gray-700">Earthen Bottle</h3>
              <p class="mt-1 text-lg font-medium text-gray-900">$48</p> -->
            </div>
            <div
              class="group bg-[#F5CC8F] rounded-3xl px-2 pb-5 hover:relative hover:cursor-pointer hover:-translate-y-5 transition ease-in-out duration-500 ">
              <div class="text-white px-2 text-center pt-4 text-2xl font-extrabold">QUẢN LÝ <br/> NGÂN SÁCH CƯỚI</div>
              <p class="text-white text-center px-5 mb-3">Lập kế hoạch tài chính chi tiết và quản lý chi tiêu một cách
                thông minh. Tận hưởng ngày cưới mà không cần lo lắng về tài chính</p>
              <div
                class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-[32px] bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                <img class="lazyload w-100 h-auto" src="https://biihappy.com/static/theme/img/iwedding/pic_about02.jpg"
                     data-src="https://biihappy.com/static/theme/img/iwedding/pic_about02.jpg"
                     alt="Quản lý Ngân sách cưới">
              </div>
              <!-- <h3 class="mt-4 text-sm text-gray-700">Nomad Tumbler</h3>
              <p class="mt-1 text-lg font-medium text-gray-900">$35</p> -->
            </div>
            <div
              class="group bg-[#CADBB2] rounded-3xl px-2 pb-5 hover:relative hover:cursor-pointer hover:-translate-y-5 transition ease-in-out duration-500 ">
              <div class="text-white px-2 text-center pt-4 text-2xl font-extrabold">QUẢN LÝ <br/> KHÁCH MỜI</div>
              <p class="text-white text-center px-5 mb-3">Lên danh sách và quản lý thông tin khách mời giúp dễ dàng xác
                định được số lượng người tham dự, và lưu trữ thông tin mừng cưới</p>
              <div
                class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-[32px] bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                <img class="lazyload w-100 h-auto" src="https://biihappy.com/static/theme/img/iwedding/pic_about03.jpg"
                     data-src="https://biihappy.com/static/theme/img/iwedding/pic_about03.jpg" alt="Quản lý khách mời" priority>
              </div>
              <!-- <h3 class="mt-4 text-sm text-gray-700">Focus Paper Refill</h3>
              <p class="mt-1 text-lg font-medium text-gray-900">$89</p> -->
            </div>
            <div
              class="group bg-[#95C9F9] rounded-3xl px-2 pb-5 hover:relative hover:cursor-pointer hover:-translate-y-5 transition ease-in-out duration-500 ">
              <div class="text-white px-2 text-center pt-4 text-2xl font-extrabold">THIỆP CƯỚI <br/> ONLINE</div>
              <p class="text-white text-center px-5 mb-3">Tự tay thiết kế những tấm thiệp mời online độc đáo với những
                mẫu
                thiệp chuyên nghiệp, và mời cưới bạn bè một cách ấn tượng</p>
              <div
                class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-[32px] bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                <img class="lazyload w-100 h-auto" src="https://biihappy.com/static/theme/img/iwedding/pic_about04.jpg"
                     data-src="https://biihappy.com/static/theme/img/iwedding/pic_about04.jpg" alt="Thiệp cưới Online" priority>
              </div>
              <!-- <h3 class="mt-4 text-sm text-gray-700">Machined Mechanical Pencil</h3>
              <p class="mt-1 text-lg font-medium text-gray-900">$35</p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="text-center top">
        <p class="mb-3">Tự tay xây dựng <strong>Website đám cưới</strong> của riêng bạn?</p>
        <button class="flex flex-row justify-center items-center py-2 px-8 m-auto border rounded-[22px] bg-[#DF3367]">
          <p class="text-white">Bắt đầu ngay</p>
          <svg class="h-8 w-8 text-white" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
               stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"/>
            <polyline points="7 7 12 12 7 17"/>
            <polyline points="13 7 18 12 13 17"/>
          </svg>
        </button>
      </div>
      <div class="my-10">
        <h4 class="font-sigma text-rose-300 text-lg text-center">ĐƯỢC TIN TƯỞNG BỞI</h4>
        <h2 class="font-sigma text-3xl text-rose-500 text-center mt-2">HÀNG NGÀN CẶP ĐÔI GIỐNG NHƯ BẠN</h2>
      </div>
      <div class="flex flex-col sm:flex-row justify-center items-center gap-[10px] px-5">
        <div>
          <figure class="w-1/3 mx-auto sm:w-full sm:h-full">
            <a href="http://weddingqt0608.iwedding.info" target="_blank"><img
              class="lazyload rounded-[22px] w-100 h-auto"
              src="https://cdn.biihappy.com/ziiweb/website/64be8b048f4493689a0b6ffe/eafbaaa59ac7253f28a3255968f231fd.jpeg"
              data-src="https://cdn.biihappy.com/ziiweb/website/64be8b048f4493689a0b6ffe/eafbaaa59ac7253f28a3255968f231fd.jpeg"
              alt="Duy Quang &amp; Diệu Thái" data-bs-toggle="tooltip" aria-label="Duy Quang &amp; Diệu Thái"
              data-bs-original-title="Duy Quang &amp; Diệu Thái"></a>
          </figure>
        </div>
        <div class="flex flex-row sm:flex-col gap-x-[10px] sm:gap-y-[10px] justify-center items-center">
          <figure class="w-1/3 sm:w-full sm:h-full">
            <a href="http://weddingqt0608.iwedding.info" target="_blank"><img
              class="lazyload rounded-[22px] w-100 h-auto"
              src="https://cdn.biihappy.com/ziiweb/website/64be8ae1f800e057db0f0dd3/7907640217b1cc67212f6e94d1635676.jpeg"
              data-src="https://cdn.biihappy.com/ziiweb/website/64be8ae1f800e057db0f0dd3/7907640217b1cc67212f6e94d1635676.jpeg"
              alt="Hồng Quý &amp; Khánh Uyên" data-bs-toggle="tooltip" aria-label="Hồng Quý &amp; Khánh Uyên"
              data-bs-original-title="Hồng Quý &amp; Khánh Uyên"></a>
          </figure>
          <figure class="w-1/3 sm:w-full sm:h-full">
            <a href="http://weddingqt0608.iwedding.info" target="_blank"><img
              class="lazyload rounded-[22px] w-100 h-auto"
              src="https://cdn.biihappy.com/ziiweb/website/64be8a92bb9aefd50e0a9898/57d86317f0624f9d5e0e63e992e993ce.jpeg"
              data-src="https://cdn.biihappy.com/ziiweb/website/64be8a92bb9aefd50e0a9898/57d86317f0624f9d5e0e63e992e993ce.jpeg"
              alt="Đăng Ba &amp; Ngọc Oanh" data-bs-toggle="tooltip" aria-label="Đăng Ba &amp; Ngọc Oanh"
              data-bs-original-title="Đăng Ba &amp; Ngọc Oanh"></a>
          </figure>
        </div>
        <div class="flex flex-col gap-y-[10px]">
          <figure class="w-full">
            <a href="http://weddingqt0608.iwedding.info" target="_blank"><img
              class="lazyload rounded-[22px] w-100 h-auto"
              src="https://cdn.biihappy.com/ziiweb/website/64be667e099448794e0c147e/f31ef663372cab3faca76ca0574d1dc3.jpeg"
              data-src="https://cdn.biihappy.com/ziiweb/website/64be667e099448794e0c147e/f31ef663372cab3faca76ca0574d1dc3.jpeg"
              alt="Hồng Quý &amp; Khánh Uyên" data-bs-toggle="tooltip" aria-label="Hồng Quý &amp; Khánh Uyên"
              data-bs-original-title="Hồng Quý &amp; Khánh Uyên"></a>
          </figure>
          <div class="flex flex-row gap-x-[10px]">
            <figure class="w-full h-full">
              <a href="http://weddingqt0608.iwedding.info" target="_blank"><img
                class="lazyload rounded-[22px] w-100 h-auto"
                src="https://cdn.biihappy.com/ziiweb/website/64be667e099448794e0c147e/f31ef663372cab3faca76ca0574d1dc3.jpeg"
                data-src="https://cdn.biihappy.com/ziiweb/website/64be667e099448794e0c147e/f31ef663372cab3faca76ca0574d1dc3.jpeg"
                alt="Hồng Quý &amp; Khánh Uyên" data-bs-toggle="tooltip" aria-label="Hồng Quý &amp; Khánh Uyên"
                data-bs-original-title="Hồng Quý &amp; Khánh Uyên"></a>
            </figure>
            <figure class="w-full h-full">
              <a href="http://weddingqt0608.iwedding.info" target="_blank"><img
                class="lazyload rounded-[22px] w-100 h-auto"
                src="https://cdn.biihappy.com/ziiweb/website/64be1d027b3f41df5e059136/511c15934873cd3ca104bbeadfe2f077.jpeg"
                data-src="https://cdn.biihappy.com/ziiweb/website/64be1d027b3f41df5e059136/511c15934873cd3ca104bbeadfe2f077.jpeg"
                alt="Đức Huy &amp; Yến Chi" data-bs-toggle="tooltip" aria-label="Đức Huy &amp; Yến Chi"
                data-bs-original-title="Đức Huy &amp; Yến Chi"></a>
            </figure>
          </div>
        </div>
        <div
          class="ml-8 sm:ml-0 sm:mt-8 flex flex-row sm:flex-col gap-x-[10px] sm:gap-y-[10px] justify-center items-center">
          <figure class="w-1/3 sm:w-full sm:h-full">
            <a href="http://weddingqt0608.iwedding.info" target="_blank"><img
              class="lazyload rounded-[22px] w-100 h-auto"
              src="https://cdn.biihappy.com/ziiweb/website/64be18c5229404f3d006a8ec/8ffacc37df05f555321e6991f069c8cd.jpeg"
              data-src="https://cdn.biihappy.com/ziiweb/website/64be18c5229404f3d006a8ec/8ffacc37df05f555321e6991f069c8cd.jpeg"
              alt="Quốc Hưng &amp; Thu Thảo" data-bs-toggle="tooltip" aria-label="Quốc Hưng &amp; Thu Thảo"
              data-bs-original-title="Quốc Hưng &amp; Thu Thảo"></a>
          </figure>
          <figure class="w-1/3 sm:w-full sm:h-full">
            <a href="http://weddingqt0608.iwedding.info" target="_blank"><img
              class="lazyload rounded-[22px] w-100 h-auto"
              src="https://cdn.biihappy.com/ziiweb/website/64bdf855b0f61e5f3e003109/7753ca384db8f75d96474899df34596a.jpeg"
              data-src="https://cdn.biihappy.com/ziiweb/website/64bdf855b0f61e5f3e003109/7753ca384db8f75d96474899df34596a.jpeg"
              alt="Tuấn Phương &amp; Thị Cường" data-bs-toggle="tooltip" aria-label="Tuấn Phương &amp; Thị Cường"
              data-bs-original-title="Tuấn Phương &amp; Thị Cường"></a>
          </figure>
        </div>
        <div
          class="mr-8 sm:mr-0 sm:mb-8 flex flex-row sm:flex-col gap-x-[10px] sm:gap-y-[10px] justify-center items-center">
          <figure class="w-1/3 sm:w-full sm:h-full">
            <a href="http://weddingqt0608.iwedding.info" target="_blank"><img
              class="lazyload rounded-[22px] w-100 h-auto"
              src="https://cdn.biihappy.com/ziiweb/website/64bdeaee31e90fa0e70c36bd/579ea9c0a90f89f1745b552763f58446.jpeg"
              data-src="https://cdn.biihappy.com/ziiweb/website/64bdeaee31e90fa0e70c36bd/579ea9c0a90f89f1745b552763f58446.jpeg"
              alt="Anh Trí &amp; Khôi Nguyên" data-bs-toggle="tooltip" aria-label="Anh Trí &amp; Khôi Nguyên"
              data-bs-original-title="Anh Trí &amp; Khôi Nguyên"></a>
          </figure>
          <figure class="w-1/3 sm:w-full sm:h-full">
            <a href="http://weddingqt0608.iwedding.info" target="_blank"><img
              class="lazyload rounded-[22px] w-100 h-auto"
              src="https://cdn.biihappy.com/ziiweb/website/64bde3fc5845db9fb00b6072/acad182934461c01e600869130ae9af0.jpeg"
              data-src="https://cdn.biihappy.com/ziiweb/website/64bde3fc5845db9fb00b6072/acad182934461c01e600869130ae9af0.jpeg"
              alt="Quang Hàn &amp; Mai Thi" data-bs-toggle="tooltip" aria-label="Quang Hàn &amp; Mai Thi"
              data-bs-original-title="Quang Hàn &amp; Mai Thi"></a>
          </figure>
        </div>
        <div>
          <figure class="w-1/3 mx-auto sm:w-full sm:h-full">
            <a href="http://weddingqt0608.iwedding.info" target="_blank"><img
              class="lazyload rounded-[22px] w-100 h-auto"
              src="https://cdn.biihappy.com/ziiweb/website/64bde3fc5845db9fb00b6072/acad182934461c01e600869130ae9af0.jpeg"
              data-src="https://cdn.biihappy.com/ziiweb/website/64bde3fc5845db9fb00b6072/acad182934461c01e600869130ae9af0.jpeg"
              alt="Quang Hàn &amp; Mai Thi" data-bs-toggle="tooltip" aria-label="Quang Hàn &amp; Mai Thi"
              data-bs-original-title="Quang Hàn &amp; Mai Thi"></a>
          </figure>
        </div>
      </div>
      <div class="my-10">
        <h4 class="font-sigma text-rose-300 text-lg text-center">TẠI SAO NÊN TẠO</h4>
        <h2 class="font-sigma text-3xl text-rose-500 text-center mt-2">WEBSITE ĐÁM CƯỚI</h2>
        <h6 class="text-base text-black text-center mt-3">
          Cho ngày cưới của bạn trở nên ấn tượng hơn, để câu chuyện tình yêu của bạn dễ dàng chia sẻ đến mọi người, và
          để sự kiện trọng đại của bạn được lưu giữ mãi theo thời gian.
        </h6>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-3 sm:grid-cols-3 gap-[15px] px-5">
        <div class="border rounded-[30px] p-1 border-[#df3367] shadow-xl shadow-cyan-500/50">
          <figure class="services_item_image">
            <img class="lazyload w-100 h-auto rounded-3xl"
                 src="https://biihappy.com/static/theme/img/iwedding/pic_services07.jpg"
                 data-src="https://biihappy.com/static/theme/img/iwedding/pic_services07.jpg"
                 alt="Có ngay website miễn phí chỉ sau 3 nốt nhạc" priority>
          </figure>
          <div class="px-5 pt-6 pb-5">
            <div class="text-xl font-bold text-black mb-2 text-center">
              Có ngay website miễn phí chỉ sau 3 nốt nhạc
            </div>
            <p class="lh-base">Bất cứ ai cũng có thể dễ dàng tạo ra một website đám cưới đẹp một cách nhanh chóng mà
              không cần phải có kiến thức về lập trình.</p>
          </div>
        </div>
        <div class="border rounded-[30px] p-1 border-[#df3367] shadow-xl shadow-cyan-500/50">
          <figure class="services_item_image">
            <img class="lazyload w-100 h-auto rounded-3xl"
                 src="https://biihappy.com/static/theme/img/iwedding/pic_services01.jpg"
                 data-src="https://biihappy.com/static/theme/img/iwedding/pic_services01.jpg"
                 alt="Không gian kỷ niệm độc đáo Lưu giữ mãi mãi" priority>
          </figure>
          <div class="px-5 pt-6 pb-5">
            <div class="text-xl font-bold text-black mb-2 text-center">
              Không gian kỷ niệm độc đáo Lưu giữ mãi mãi
            </div>
            <p class="lh-base">Giúp bạn lưu giữ những khoảnh khắc tuyệt vời cho ngày trọng đại, sẽ thật tuyệt vời khi
              bạn có thể nhìn lại và nhớ về nó như chỉ mới ngày hôm qua.</p>
          </div>
        </div>
        <div class="border rounded-[30px] p-1 border-[#df3367] shadow-xl shadow-cyan-500/50">
          <figure class="services_item_image">
            <img class="lazyload w-100 h-auto rounded-3xl"
                 src="https://biihappy.com/static/theme/img/iwedding/pic_services02.jpg"
                 data-src="https://biihappy.com/static/theme/img/iwedding/pic_services02.jpg"
                 alt="Cho mọi kế hoạch cưới trở nên dễ dàng hơn" priority>
          </figure>
          <div class="px-5 pt-6 pb-5">
            <div class="text-xl font-bold text-black mb-2 text-center">
              Cho mọi kế hoạch cưới trở nên dễ dàng hơn
            </div>
            <p class="lh-base">Cung cấp những công cụ hữu ích, giúp bạn quản lý mọi kế hoạch cho ngày trọng đại một cách
              thông minh hơn như: Chi tiêu, Việc cần làm, Khách mời,...</p>
          </div>
        </div>
        <div class="border rounded-[30px] p-1 border-[#df3367] shadow-xl shadow-cyan-500/50">
          <figure class="services_item_image">
            <img class="lazyload w-100 h-auto rounded-3xl"
                 src="https://biihappy.com/static/theme/img/iwedding/pic_services03.jpg"
                 data-src="https://biihappy.com/static/theme/img/iwedding/pic_services03.jpg"
                 alt="Giao diện đẹp - Đa dạng và cập nhật liên tục" priority>
          </figure>
          <div class="px-5 pt-6 pb-5">
            <div class="text-xl font-bold text-black mb-2 text-center">
              Giao diện đẹp - Đa dạng và cập nhật liên tục
            </div>
            <p class="lh-base">Giao diện đẹp và đa dạng phong cách được chúng tôi liên tục cập nhật và cải tiến. Thoải
              mái lựa chọn và thay đổi bất kỳ lúc nào bạn muốn.</p>
          </div>
        </div>
        <div class="border rounded-[30px] p-1 border-[#df3367] shadow-xl shadow-cyan-500/50">
          <figure class="services_item_image">
            <img class="lazyload w-100 h-auto rounded-3xl"
                 src="https://biihappy.com/static/theme/img/iwedding/pic_services04.jpg"
                 data-src="https://biihappy.com/static/theme/img/iwedding/pic_services04.jpg"
                 alt="Dễ dàng chia sẻ câu chuyện tình yêu của bạn" priority>
          </figure>
          <div class="px-5 pt-6 pb-5">
            <div class="text-xl font-bold text-black mb-2 text-center">
              Dễ dàng chia sẻ câu chuyện tình yêu của bạn
            </div>
            <p class="lh-base">Không phải lúc nào bạn cũng có thể kể về chuyện tình của mình cho ai đó. Hãy cùng
              iWedding xuất bản câu chuyện của bạn và chia sẻ nó đến tất cả mọi người.</p>
          </div>
        </div>
        <div class="border rounded-[30px] p-1 border-[#df3367] shadow-xl shadow-cyan-500/50">
          <figure class="services_item_image">
            <img class="lazyload w-100 h-auto rounded-3xl"
                 src="https://biihappy.com/static/theme/img/iwedding/pic_services06.jpg"
                 data-src="https://biihappy.com/static/theme/img/iwedding/pic_services06.jpg"
                 alt="Nhận lời chúc phúc từ bạn bè dễ dàng hơn" priority>
          </figure>
          <div class="px-5 pt-6 pb-5">
            <div class="text-xl font-bold text-black mb-2 text-center">
              Nhận lời chúc phúc từ bạn bè dễ dàng hơn
            </div>
            <p class="lh-base">Để lời chúc của bạn bè làm đám cưới của bạn thêm một phần hạnh phúc. Hơn hết, những lời
              chúc đó sẽ được lưu giữ mãi theo thời gian.</p>
          </div>
        </div>
      </div>
      <div class="mt-12 flex flex-column md:justify-around sm:flex-col md:flex-row gap gap-x-4 px-5">
        <div>
          <h4 class="font-sigma text-rose-300 text-lg text-left">4 BƯỚC ĐỂ TẠO</h4>
          <h2 class="font-sigma text-3xl text-rose-500 text-left mt-2">WEBSITE ĐÁM CƯỚI MIỄN PHÍ</h2>
          <div class="text-center mt-5">
            <div
              class="flex flex-row justify-start items-center mb-12 border border-[#df3367] rounded-[10px] py-2 pr-5 pl-3">
              <h1 class="text-[50px] font-bold text-[#0d20c6] relative -top-8 p-4 bg-white z-10">1</h1>
              <p class="text-[15px] font-bold ">TẠO TÀI KHOẢN VÀ ĐĂNG NHẬP VÀO NỀN TẢNG</p>
            </div>
            <div
              class="flex flex-row justify-start items-center mb-12 border border-[#df3367] rounded-[10px] py-2 pr-5 pl-3">
              <h1 class="text-[50px] font-bold text-[#0d20c6] relative -top-8 p-4 bg-white z-10">2</h1>
              <p class="text-[15px] font-bold ">CHỌN MẪU GIAO DIỆN YÊU THÍCH</p>
            </div>
            <div
              class="flex flex-row justify-start items-center mb-12 border border-[#df3367] rounded-[10px] py-2 pr-5 pl-3">
              <h1 class="text-[50px] font-bold text-[#0d20c6] relative -top-8 p-4 bg-white z-10">3</h1>
              <p class="text-[15px] font-bold ">TẠO, TUỲ CHỈNH THÔNG TIN & HÌNH ẢNH WEB</p>
            </div>
            <div
              class="flex flex-row justify-start items-center mb-12 border border-[#df3367] rounded-[10px] py-2 pr-5 pl-3">
              <h1 class="text-[50px] font-bold text-[#0d20c6] relative -top-8 p-4 bg-white z-10">4</h1>
              <p class="text-[15px] font-bold ">CHIA SẺ WEB ĐÁM CƯỚI VỚI MỌI NGƯỜI</p>
            </div>
            <a class="text-base text-[#3246f5] font-semibold">Xem hướng dẫn chi tiết tại đây -></a>
          </div>
        </div>
        <div class="pt-28">
          <div class="flex flex-col justify-between items-center">
            <div class="flex flex-row gap gap-x-3">
              <figure class="w-3/5">
                <img class="lazyload w-full h-auto" src="https://biihappy.com/static/theme/img/iwedding/pic_step01.png"
                     data-src="https://biihappy.com/static/theme/img/iwedding/pic_step01.png" alt="iWedding" priority>
              </figure>
              <figure class="w-2/5">
                <img class="lazyload w-full h-auto" src="https://biihappy.com/static/theme/img/iwedding/pic_step02.jpg"
                     data-src="https://biihappy.com/static/theme/img/iwedding/pic_step02.jpg" alt="iWedding" priority>
              </figure>
            </div>
            <figure class="w-3/6 mt-5">
              <img class="lazyload w-full h-auto" src="https://biihappy.com/static/theme/img/iwedding/pic_step03.jpg"
                   data-src="https://biihappy.com/static/theme/img/iwedding/pic_step03.jpg" alt="iWedding" priority>
            </figure>
          </div>
        </div>
      </div>
      <div class="my-10">
        <h4 class="font-sigma text-rose-300 text-lg text-center">NƠI TRẢ LỜI TẤT CẢ</h4>
        <h2 class="font-sigma text-3xl text-rose-500 text-center mt-2">NHỮNG VƯỚNG MẮC CỦA BẠN</h2>
      </div>
      <nz-collapse class="border-x-0">
        <nz-collapse-panel
          *ngFor="let panel of panels"
          [nzHeader]="panel.name"
          [nzActive]="panel.active"
          [nzDisabled]="panel.disabled"
          class="text-xl text-[#26292c] font-bold"
        >
          <p class="m-0 text-base font-normal">
            {{panel.content}}
          </p>
        </nz-collapse-panel>
      </nz-collapse>
      <div
        class="px-8 py-6 mt-20 max-w-lg mx-auto border border-white rounded-3xl bg-[#fef6f8] shadow-xl shadow-cyan-500/50">
        <div class="flex flex-row justify-between items-center gap gap-x-2 mb-4">
          <input class="w-3/6 px-2 border border-[#ffa4ba] outline-none focus:outline-none rounded-xl h-11" nz-input
                 placeholder="Họ và tên" [(ngModel)]="inputForm.name"/>
          <input class="w-3/6 px-2 border border-[#ffa4ba] outline-none focus:outline-none rounded-xl h-11" nz-input
                 placeholder="Địa chỉ Email" [(ngModel)]="inputForm.email"/>
        </div>
        <input class="w-full px-2 border border-[#ffa4ba] outline-none focus:outline-none rounded-xl h-20" nz-input
               placeholder="Lời nhắn" [(ngModel)]="inputForm.message"/>
        <p class="text-center my-4">Đừng ngần ngại liên hệ với chúng tôi khi bạn có bất kỳ thắc mắc nào!</p>
        <button class="flex flex-row justify-center items-center py-1 px-8 m-auto border rounded-[22px] bg-[#DF3367]">
          <p class="text-white">GỬI ĐI</p>
          <svg class="h-8 w-8 text-white" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
               stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"/>
            <polyline points="7 7 12 12 7 17"/>
            <polyline points="13 7 18 12 13 17"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
